@page
@model LoginModel

@{
    ViewData["Title"] = "Iniciar sesion";
}

<h1>@ViewData["Title"]</h1>
<div class="row">
    <div class="col-md-4">
        <section>
            <form id="account" method="post">
                <h2>Ingrese sus credenciales.</h2>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.UserName" class="form-control" autocomplete="username" aria-required="true" placeholder="Usuario" />
                    <label asp-for="Input.UserName" class="form-label">Usuario</label>
                    <span asp-validation-for="Input.UserName" class="text-danger"></span>
                </div>
              <div class="input-group">
                 <input id="passwordInput" asp-for="Input.Password" class="form-control" type="password" />
        
                 <button type="button" class="btn btn-outline-secondary" onclick="togglePassword()">
                👁
                </button>
              </div>
                <div class="checkbox mb-3">
                    <label asp-for="Input.RememberMe" class="form-label">
                        <input class="form-check-input m-1" asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>
                <div class="text-center">
                    <button id="login-submit" type="submit" class="btn btn-primary w-100">Iniciar sesion</button>
                </div>
                <div>
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Recuperar Contraseña</a>
                    </p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Registrar nuevo usuario</a>
                    </p>
                    <p>
                        <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Enviar confirmacion por email</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h3></h3>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            <a></a>
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins!)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>

@section Scripts {
    <script>
    function togglePassword() {
        var input = document.getElementById("passwordInput");

        if (!input) {
            console.log("No encontró el input");
            return;
        }

        if (input.type === "password") {
            input.type = "text";
        } else {
            input.type = "password";
        }
    }
    </script>
    <partial name="_ValidationScriptsPartial" />
}
