@model Proyecto_Tienda_Virtual.ModelsFromDb.Producto

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Producto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescripcionArt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescripcionArt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorMonetario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorMonetario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExistenciasAct)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExistenciasAct)
        </dd>
    </dl>
</div>

<div>
    @if (User.IsInRole("Admin"))
    {
        <a asp-action="Edit" asp-route-id="@Model?.ProductoId">Edit</a> 
    }
    <a asp-action="Index">Back to List</a>
</div>
