@model IEnumerable<Proyecto_Tienda_Virtual.ModelsFromDb.Producto>

@{
    ViewData["Title"] = "Index";
}

<h1>Menú Principal</h1>

<p>
    <a asp-action="Create">Ingresar nuevo articulo</a>
</p>
<p>Cantidad de Articulos totales: @ViewBag.ProductCount</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DescripcionArt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorMonetario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExistenciasAct)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DescripcionArt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorMonetario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExistenciasAct)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProductoId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.ProductoId">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.ProductoId">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
